<section class="header">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5 name">
      <div class="caption">
        <h1>PRIME</h1>
        <p>Дилерский центр</p>
      </div>
    </div>
    <div class="col-sm-5 adress">
      <h1><i class="fa fa-phone-square" aria-hidden="true"></i> (4742) 500 777</h1>
      <p>Липецк, Лебедянское шоссе, вл. 2</p>
    </div>
    <div class="col-sm-1"></div>
  </div>
</section>

<section class="slider">
<div class="flexslider">
  <div class="flex-viewport">
    <ul class="slides">
      <li class="clone" aria-hidden="true" >
        <img src="/assets/1.jpg" draggable="false">
        <p class="flex-caption">ЛУЧШИЕ СПЕЦПРЕДЛОЖЕНИЯ</p>
      </li>
      <li class="" data-thumb-alt="">
        <img src="/assets/2.jpg" draggable="false">
        <p class="flex-caption">ЛУЧШИЕ СПЕЦПРЕДЛОЖЕНИЯ</p>
      </li>
    </ul>
  </div>
</div>
</section>

<section class="products">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h2>4X4 ANNIVERSARY</h2>
          <h3>ОТ 483 900 <i class="fa fa-rub" aria-hidden="true"></i>*</h3>
        </div>
        <div class="col-sm-4">
          <h2>GRANTA ЛИФТБЕК</h2>
          <h3>ОТ 354 900 <i class="fa fa-rub" aria-hidden="true"></i>*</h3>
        </div>
        <div class="col-sm-4">
          <h2>KALINA CROSS</h2>
          <h3>ОТ 455 800 <i class="fa fa-rub" aria-hidden="true"></i>*</h3>
        </div>      
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h2>PRIORA СЕДАН</h2>
          <h3>ОТ 389 900 <i class="fa fa-rub" aria-hidden="true"></i>*</h3>
        </div>
        <div class="col-sm-4">
          <h2>VESTA СЕДАН</h2>
          <h3>ОТ 525 900 <i class="fa fa-rub" aria-hidden="true"></i>*</h3>
        </div>
      </div>  
    </div>
</section>