<section class="header">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 name">
      <h1>PRIME</h1>
      <p>Дилерский центр</p>
    </div>
    <div class="col-md-5 adress">
      <h2>Липецк, Лебедянское шоссе, вл. 2</h2>
      <span>(4742) 500 777</span>
    </div>
    <div class="col-md-1"></div>
  </div>
</section>
<section class="slider">
<!-- Place either at the bottom in the <head> of your page or inside your CSS -->
<style type="text/css">
.flexslider .slides li {
  position:relative;
}

.flex-caption {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  background:#000; /* whatever you want */    
  z-index:1;
  padding:115px;
  background-color: rgba(128,128,128, 0.7)
}
</style>
<div class="flexslider">

<div class="flex-viewport"><ul class="slides"><li class="clone" aria-hidden="true" >
<img src="/assets/1.jpg" draggable="false">
<p class="flex-caption">Adventurer Caramel</p>
</li>
<li class="" data-thumb-alt="">
<img src="/assets/2.jpg" draggable="false">
<p class="flex-caption">Adventurer Cheesecake Brownie</p>
</li>
<li data-thumb-alt=""  class="flex-active-slide">
<img src="/assets/3.jpg" draggable="false">
<p class="flex-caption">Adventurer Lemon</p>
</li>
</ul>
</div>

</div>
</section>