/* -- header --*/
.header {
  background-color: #FFA200;
  color: white;
  .caption  {
    width: 100%;
    border-right: 2px solid white;
  }
}
h1 {
  font-weight: bold;
  font-size: 3.0em;
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: 2.2em;
  }
}/* -- header --*/

/*-- slider --*/
.flex-caption {
  color: white;
  text-transform: uppercase;
  font-size: 2.0em;
}
.flexslider .slides li {
  position:relative;
}
.flex-control-nav {
  display: none;
}
.flex-caption {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  background:#000; /* whatever you want */    
  z-index:1;
  padding:15px;
  background-color: rgba(128,128,128, 0.7)
}/*-- slider --*/

.products {
  h2,h3 {
    padding: 0;
    margin: 0;
  }
  h2 {
    color: #516870;
  }
  h3 {
    color: #FFA200;
  }
  .caption-button {
    width: auto;
    background-color:#FFA200;
    text-align: center;
    padding: 3px;
    margin: 3px 0 3px 0;
    h3 {
      color: white;
      font-weight: bold;
    }
  }
  .caption-button:hover,.caption-button:after {
    cursor: pointer;
    background-color:#BC741C;
  }
}
.footer {
  background-color: #546871;
  .social {
    ul {
      display: inline-block;
    }
    .col-md-12 {
      text-align: center;
    }
    ul li {
      margin-right: 10px;
      font-size: 3.2em;
      display: inline;
    }
    h2 {
      text-transform: uppercase;
      font-size: 2.2em;
      color: white;
    }
  }
}


.slides a {
  color: white !important;
}
.slides a:hover {
  color: #FFA200 !important;
}
.head-slide {
  text-transform: uppercase;
  font-weight: bold;
}